<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.picturebackend.mapper.ReviewMessageMapper">

    <resultMap id="BaseResultMap" type="com.xin.picturebackend.model.entity.ReviewMessage">
            <id property="id" column="id" />
            <result property="user_id" column="user_id" />
            <result property="content" column="content" />
            <result property="status" column="status" />
            <result property="created_at" column="created_at" />
            <result property="read_at" column="read_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,content,status,created_at,read_at
    </sql>
</mapper>
