<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.picturebackend.mapper.SrTaskMapper">

    <resultMap id="BaseResultMap" type="com.xin.picturebackend.model.entity.SrTask">
        <id property="id" column="id"/>
        <result property="taskNo" column="task_no"/>
        <result property="userId" column="user_id"/>
        <result property="spaceId" column="space_id"/>
        <result property="bizType" column="biz_type"/>
        <result property="inputFileKey" column="input_file_key"/>
        <result property="outputFileKey" column="output_file_key"/>
        <result property="status" column="status"/>
        <result property="progress" column="progress"/>
        <result property="scale" column="scale"/>
        <result property="modelName" column="model_name"/>
        <result property="modelVersion" column="model_version"/>
        <result property="attempt" column="retry_count"/>
        <result property="maxRetry" column="max_retry"/>
        <result property="errorCode" column="error_code"/>
        <result property="errorMsg" column="error_msg"/>
        <result property="traceId" column="trace_id"/>
        <result property="cancelRequested" column="cancel_requested"/>
        <result property="createTime" column="created_at"/>
        <result property="updateTime" column="updated_at"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,task_no,user_id,space_id,biz_type,input_file_key,output_file_key,
        status,progress,scale,model_name,model_version,retry_count,max_retry,error_code,error_msg,
        trace_id,cancel_requested,created_at,updated_at
    </sql>
</mapper>
